@import '../../../less/template.less';

.masterPage{
  &-header{
    width: 100%;
    color: @menu-light-text-color;
    background: @main-dark-color;
    height: 80px;
    @media (min-width: @screen-min) and (max-width: @screen-lg-max) {
      height: 50px;
    }
  }

  &-h-wrapper{
    z-index: 100;
    position: fixed;
    background: inherit;
    width: 100%;
    .mix-box-shadow-6();
  }

  &-h-no-scroll{
    height: 80px;
    @media (min-width: @screen-min) and (max-width: @screen-lg-max) {
      height: 50px;
    }
  }

  &-h-scroll{
    height: 50px;
    .mix-transition(height, 0.25s, ease-in);
  }

  &-logo-no-scroll{
    margin-right: 16px;
    width: 36px;
    @media (min-width: @screen-min) and (max-width: @screen-lg-max) {
      margin: 0px 16px;
      width: 20px;
    }
  }

  &-logo-scroll{
    margin: 0px 16px;
    width: 20px;
    .mix-transition(width, 0.25s, ease-in);
  }
  
  &-f-wrapper{
    .display-flex();
    .flex-direction(row);
    .flex-wrap(wrap);
  }

  &-menu{
    background: inherit;
    height: inherit;
    .display-flex();
  }

  &-menu-list{
    width: 100%;
    .display-flex();
    .flex(0 1 auto);
  }

  &-menu-item{
    height: 100%;
    .display-flex();

    &:nth-child(1){
      .align-items(center);
    }

    &:nth-child(3){
      .flex-grow(1);
    }

    &:nth-child(4),
    &:nth-child(5),
    &:nth-child(6){
      padding-left: 16px; 
      .align-items(center);
    }
  }

  &-col{
    &:first-child{
      padding-left: 0;
      @media (min-width: @screen-sm-max){
        padding-right: 30px;
      }
    }
    &:nth-child(2){
      padding: 0;
    }
    &:last-child{
      .display-flex();
      .flex-direction(column);
      .align-items(flex-end);
      @media (min-width: @screen-min) and (max-width: @screen-xs-max) {
        padding-top: 15px;
        .align-items(center);
      }
    }
  }

  &-f-item{
    height: 34px;
    line-height: 34px;
    font-size: 13px;
    border-bottom: 1px solid @main-dark-border-color;
    .mix-transition(all 0.5s ease);

    &:hover{
      border-color: @main-link-hover-color;
      color: @main-link-hover-color;
    }
  }

  &-f-social{
    padding-right: 10px;
    &:last-child{
      padding-right: 0px;
    }
  }

  &-socials{
    height: 34px;
    .display-flex();
    .flex-direction(row);
    .justify-content(flex-end);
    .align-items(center);

    @media (min-width: @screen-min) and (max-width: @screen-xs-max) {
      padding: 16px 0;
      justify-content: center;
    }
  }

  &-copyrates{
    font-size: 13px;
    padding-top: 16px;
    .display-flex();
    .flex-direction(column);
    .align-items(flex-end);

    @media (min-width: @screen-min) and (max-width: @screen-xs-max) {
      padding-top: 16px;
      .align-items(center);
    }
  }

  &-copyrates-line{
    height: 28px;
  }

  &-footer{
    color: @menu-light-text-color;
    background: @main-dark-color;
    padding: 16px 0;
  }

  &-facebook{
    &:hover{
      fill: #2650a5;
    }
  }

  &-instagram{
    &:hover{
      fill: #efcfa2;
    }
  }

  &-vk{
    &:hover{
      fill: #398fc3;
    }
  }

  &-twitter{
    &:hover{
      fill: #1da1f2;
    }
  }

  &-youtube{
    &:hover{
      fill: #ff7f7f;
    }
  }
}