@import '../../less/template.less';

.list{
  .mix-transition(height, 1.0s, ease-in);

  &__container{
    width: 100%;
    display: flex;
    .flex-wrap(wrap);
    .justify-content(flex-start);
  }

  &__item{
    position: relative;
  }

  &__container_orientation_row{
    .flex-direction(row);
  }

  &__container_orientation_column{
    .flex-direction(column);
  }
}
